@model MikMak2016.App_Data.DAL.UnitBase

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UnitBase</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsertedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsertedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsertedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsertedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
